.Login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    .loginWrapper{
       
        
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        form,.afterLogedIn{
            width: 50%;
            background-color: aliceblue;
            padding: 50px 20px;
            border-radius: 10px;

        }
    }
}