.User {
    .userWrapper {
        display: flex;
        align-items: center;

        flex-direction: column;
        margin-top: 20px;
        gap: 20px;

        .UserFrom {
            width: 50%;

            form {}
        }

        .addedUser {
            width: 50%;

            ul {
                width: 100%;

                .UserListItem {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .itemBlock {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 10px;

                    }

                    .icons {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        svg {
                            width: 30px;
                            height: 30px;
                            border: 2px solid gray;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}

.ErrorModal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;

    .modalWrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
}


.userFormError{
    .modalInner{
        .modalContent{
            gap: 50px;
            .heading{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 10px;
                background-color: aliceblue;
                margin-bottom: 20px;
            }
            .body{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 10px;
                background-color: white;
                text-transform: capitalize;

            }
        }
        .modalClose{
            display: none !important;
        }
    }
}